<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="Your description here">
    <meta name="keywords" content="Your keywords here">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title %}
      {% endblock title %}
    </title>
    {# favicon #}
    <link rel="icon"
          href="{{ url_for('static', filename='images/favicon/favicon.ico') }}">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
    {% block styles %}
    {% endblock styles %}
  </head>
  <body class="font-sans antialiased bg-gray-900 text-gray-200">
    <header>
      <div id="loading">{% include "components/loading.html" %}</div>
    </header>
    <main class="container min-w-full min-h-screen hidden" id="app">
      {% block content %}
      {% endblock content %}
    </main>
    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>
<script>
  setTimeout(() => {
    document.getElementById('loading').classList.add('hidden');
    document.getElementById('app').classList.remove('hidden');
  }, 1);
</script>
